In [1]:
import numpy as np
import pandas as pd

In [3]:
my_nums=np.arange(1,10).reshape(3,3)
my_nums

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [4]:
pd.DataFrame(my_nums)

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [5]:
my_index=['R1','R2','R3']

In [6]:
my_col=['Col1','Col2','Col3']

In [7]:
df=pd.DataFrame(data=my_nums, index=my_index, columns=my_col)
df

    Col1  Col2  Col3
R1     1     2     3
R2     4     5     6
R3     7     8     9

In [8]:
pd.DataFrame({'A':[1,2,3],'B':[4,5,6]},index=['first','second','third'])

        A  B
first   1  4
second  2  5
third   3  6